.container{
  margin-top: 50px;
  /*display: flex;*/
  justify-content: center;
}

.row{
  display: flex;
  justify-content: center;
}


.card-header{
  background-color: #475869;
  color: white;
}

.graduate{
  width: 80%;
  margin-bottom: 30px;
}

.graduate .card{
  width: 350px;
  margin: 20px;
}
