<div class="cover">
  <app-header></app-header>
  <!--<app-other-header [heading]="heading"></app-other-header>-->
  <div class="container">
    <div class="row">
      <div class="card graduate">
        <div class="card-header">
          Graduation
        </div>
        <div class="card-body">
              <a href="https://www.kiet.edu/#/Home" target="_blank" class="nav-link" >
                <h5>KIET Group of Institutions</h5>
              </a>
              <p>Ghaziabad, Uttarpradesh</p>
              <li><b>B-Tech</b> in Information Technology (2015-2019)</li>
              <li>Pursuing</li>
        </div>
      </div>
      <div class="card graduate">
        <div class="card-header">
          School
        </div>
        <div class="card-body">
          <div class="row">
            <div class="card first">
              <div class="card-body">
                <a href="https://www.kiet.edu/#/Home" target="_blank" class="nav-link" >
                  <h5>MS. Sr. secondary Academy</h5>
                </a>
                <p>Orai, jalaun, Uttarpradesh</p>
                <li><b>Senior Secondary</b> (2013-2014)</li>
                <li>secured 70%</li>
              </div>
            </div>
            <div class="card second">
              <div class="card-body">
                <a href="https://www.kiet.edu/#/Home" target="_blank" class="nav-link" >
                  <h5>MS. Sr. secondary Academy</h5>
                </a>
                <p>Orai, jalaun, Uttarpradesh</p>
                <li><b>Higher Secondary</b> (2011-2012)</li>
                <li>secured 9.4 CGPA</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
