<app-header></app-header>
<div class="container">
  <div id="motto">
    <p id="name">Hello, </p>
    <p>Thanks for visiting me, I think you know my name as you are here.</p>
  </div>
  <p style="font-size: 28px">Anyway, I am <b>Rupesh yadav</b>. I am a final year student currently pursuing my B-Tech in
    <b>Information Technology </b> from Krishna institute of engineering and technology, Muradnagar, Ghaziabad, India.
  </p>

  <p style="font-size: 28px; margin-top: 25px">
    As a web developer, I started doing development from 3rd year of my college (2017) and from then
    I learned many technologies till now.
    I’ve always sought out opportunities and challenges that are meaningful to me.
  </p>

  <p style="font-size: 28px; margin-top: 25px">
    I've never stopped engaging my passion to help others and solve problems.
  </p>

  <div style="text-align: center; font-size: 20px; margin: 25px 0 50px 0">
    <p>If you want to say hello or need any help, feel free to contact me on any of my social accounts.</p>
    <div class="row">
      <a href="https://twitter.com/rupesh9401" target="_blank"><img src="../../assets/images/twitter.png"></a>
      <a href="https://github.com/shido94" target="_blank"><img src="../../assets/images/github-logo.png"></a>
      <a href="https://www.linkedin.com/in/rupesh-yadav-977575137/" target="_blank"><img src="../../assets/images/link.png"></a>
      <a href="https://www.facebook.com/profile.php?id=100009204218285" target="_blank"><img src="../../assets/images/facebook.png"></a>
      <a href="https://www.instagram.com/rupesh94yadav/" target="_blank"><img src="../../assets/images/insta.jpg"></a>
    </div>
  </div>

</div>
