<div class="cover">
  <app-header></app-header>
  <!--<app-other-header [heading]="heading"></app-other-header>-->
  <div class="container">
      <a><img src="../../assets/images/584856bce0bb315b0f7675ad.png"></a>
      <a href="" >rupeshyadav94.ryy@gmail.com</a>
     <br>
    <a href="https://github.com/shido94"><img src="../../assets/images/github-logo.png"></a>
    <a href="https://github.com/shido94"  target="_blank">https://github.com/shido94</a>
    <br>
    <a href="https://www.linkedin.com/in/rupesh-yadav-977575137/"><img src="../../assets/images/link.png"></a>
    <a href="https://www.linkedin.com/in/rupesh-yadav-977575137/" target="_blank" >https://www.linkedin.com/in/rupesh-yadav-977575137/</a>
    <br>
    <a href="https://www.facebook.com/profile.php?id=100009204218285"><img src="../../assets/images/facebook.png"></a>
    <a href="https://www.facebook.com/profile.php?id=100009204218285" target="_blank" >https://www.facebook.com/profile.php?id=100009204218285</a>
    <br>
    <a href="https://www.instagram.com/rupesh94yadav/"><img src="../../assets/images/insta.jpg"></a>
    <a href="https://www.instagram.com/rupesh94yadav/" target="_blank" >https://www.instagram.com/rupesh94yadav/</a>
  </div>
</div>
