<div class="cover">
  <app-header></app-header>
  <div class="container">
      <div class="card ">
        <div class="card-header">
          <div class="row">
            <div class="center">
              <img class="card-img-top" src="../../assets/images/apnicare.png" alt="Card image cap">
              <p><b><a class="nav-link" href="https://www.apnicare.com/" target="_blank">Apnicare</a></b></p>
              <p>Backend developer</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><em>Platform which provide users to direct interact with doctors online and also can get
            the tablet, disease information
          </em></p>
          <br>
          <li class="nav-item">Company- Soni Brothers Ecom. Pvt Ltd <em>(Startup based company)</em></li>
          <li class="nav-item">Internship at ApniCare</li>
          <li class="nav-item">Technology used- <b>MongoDb & Nodejs</b></li>
          <li class="nav-item">Total <b>6</b> meambers team</li>
          <br>
          <em style="font-style: italic">september-2017 -  february-2018</em>
        </div>
      </div>
    </div>

</div>
