<app-header></app-header>
<div class="container">
  <div class="row">

    <div class="card" >
      <img  class="card-img-top" src="../../assets/images/coll.png" alt="Card image cap">
      <div class="card-body">
        <p><a routerLink="">A Chat app to talk with strangers</a></p>
      </div>
    </div>
    <div class="card" >
      <img  class="card-img-top" src="../../assets/images/apni.png" alt="Card image cap">
      <div class="card-body">
        <p><a routerLink="">App to interact users and doctors</a></p>
      </div>
    </div>
  </div>
</div>
