.cover{
  /*background-color: #F3F3F3;*/
  height: 100%;
}

img{
  width: 100px;
  height: 100px;
  margin: 50px;
}

p{
  margin-left: 60px;
}

.card{
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .card-header{
  background-color: #001f3f;
  color: white;
}
