<div class="cover">
  <app-header></app-header>
  <!--<app-other-header [heading]="heading"></app-other-header>-->
  <div class="container">

    <div class="card">
      <div class="card-header">
        JAVASCRIPT
      </div>
      <div class="card-body">
        <div class="row">
          <div class="flex-column">
            <img src="../../assets/images/js.png">
            <p>Javascript</p>
          </div>
          <div class="flex-column">
            <img src="../../assets/images/jquery.jpg">
            <p>Jquery</p>
          </div>
          <div class="flex-column">
            <img src="../../assets/images/angul.jpg">
            <p>Angular 4</p>
          </div>
          <div class="flex-column">
            <img src="../../assets/images/node.png">
            <p>NodeJs</p>
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        HTML
      </div>
      <div class="card-body">
        <div class="row">
          <div class="flex-column">
            <img src="../../assets/images/html.png">
            <p>HTML 5</p>
          </div>
          <div class="flex-column">
            <img src="../../assets/images/jade.png">
            <p>Jade</p>
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        CSS
      </div>
      <div class="card-body">
        <div class="row">
          <div class="flex-column">
            <img src="../../assets/images/css.png">
            <p>CSS 3</p>
          </div>
          <div class="flex-column">
            <img src="../../assets/images/boot.png">
            <p>Bootstrap 4</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Backend
      </div>
      <div class="card-body">
        <div class="row">
          <div class="flex-column">
            <img src="../../assets/images/mongo.webp">
            <p>MongoDb</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Other
      </div>
      <div class="card-body">
        <div class="row">
          <div class="flex-column">
            <img src="../../assets/images/github-logo.png">
            <p>Github</p>
          </div>
          <div class="flex-column">
            <img src="../../assets/images/hero.png">
            <p>Heroku</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
