<app-header></app-header>

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div id="center">-->
      <!--<h1>Hey, I am Rupesh yadav</h1>-->
      <!--<p class="font">I design and code beautifully simple things, and I love what I do.</p>-->
      <!--<div>-->
        <!--<img src="../../assets/images/pics.jpeg" >-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="page-header">
  <div class="filter"></div>
  <div class="content-center">
    <div id="motto">
      <p id="name">Hello, I am Rupesh Yadav</p>
      <span class="spaceSpan"></span>
      <div class="innerText">
        <p id="p1">If you want to</p>
        <p id="help">Know</p>
        <p id="p2">Me, You are @ right place</p>
      </div>
      <span class="spaceSpan"></span>
      <div class="wrap">
        <a class="btn btn-round" routerLink="/about" id="hello">Say hello</a>
      </div>
    </div>
  </div>
</div>
